---
- name: Configure Hub node
  when: not teardown|bool
  ansible.builtin.include_tasks: 1_configurehub.yml

- name: setup DNS specific information
  with_first_found:
    - "{{ role_path }}/tasks/40_dns/{{ dns_type }}.yml"
    - "{{ role_path }}/tasks/40_dns/none.yml"
  when: pre_build or automation_hub | bool
  ansible.builtin.include_tasks: "{{ item }}"

- name: setup ssl cert
  when: automation_hub | bool and not teardown|bool
  ansible.builtin.include_tasks: 50_ssl.yml

- name: install podman
  when: automation_hub | bool and not teardown|bool
  ansible.builtin.package:
    name: podman
    state: present
